<h2>Alta cliente</h2>
<div class="container">
  <div class="form-group row">
    <label for="name" class="col-md-2 control-label">Nombre:</label>
    <div class="col-md-10">
      <input type="text" [(ngModel)]="cliente.nombre" id="name" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="cif" class="col-md-2 control-label">CIF:</label>
    <div class="col-md-10">
      <input type="text" [(ngModel)]="cliente.cif" id="cif" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="direccion" class="col-md-2 control-label">Dirección:</label>
    <div class="col-md-10">
      <input type="text" [(ngModel)]="cliente.direccion" id="direccion" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="grupo" class="col-md-2 control-label">Grupo:</label>
    <div class="col-md-10">
      <select [(ngModel)]="cliente.grupo" id="grupo" class="form-control">
        <option *ngFor="let grupo of grupos" value="{{grupo.id}}">{{grupo.nombre}}</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-offset-2 col-md-10">
      <button (click)="this.nuevoCliente()" class="btn btn-default">Guardar</button>
    </div>
  </div>
</div>
