<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{title}}
  </h1>
</div>
<hr />
<h6>propiedades y eventos</h6>
<p [hidden]="!visible">
  Adiós
</p>
<button (click)="decirAdios()">Decir adiós</button>
<hr />
<h6>Nuevo componente</h6>
<app-menu></app-menu>
<hr />
<h6>Componente dentro de un nuevo modulo</h6>
<app-micomponente></app-micomponente>
<hr />
<h6>Directiva ngClass</h6>
<app-boton-sino></app-boton-sino>
<hr />
<h6>Directiva ngFor</h6>
<app-listado-preguntas></app-listado-preguntas>
<hr />
<h6>Directiva ngModel</h6>
<app-cuadrado></app-cuadrado>
<h6>Servicios</h6>
<app-listado-clientes></app-listado-clientes>
